{
  "WindowPositions": [
    {
      "PositionX": 0,
      "PositionY": 0,
      "Width": 800.0,
      "Height": 450.0,
      "Name": "HControl"
    }
  ],
  "UIGender": true,
  "ImageList": [],
  "FinishList": [],
  "IsIntense": false,
  "LoopFinish": true,
  "EnableHandy": true,
  "HandyConnectionKey": "",
  "PictureCycle": "00:00:05",
  "NoImageBreak": false,
  "NoBeatBreak": false,
  "MinBeatBreak": 0,
  "Ticker": false,
  "module_Timed": {
    "Duration": "00:10:00"
  },
  "module_Quick": {
    "RoundCount": 40
  },
  "module_Intensity": {
    "InitialLevel": "Level1",
    "GameMode": "Increasing",
    "Duration": "00:30:00",
    "ChangeAfter": 10
  },
  "module_Endurance": {
    "Type": "Normal",
    "BaseTime": "00:30:00",
    "RoundTime": "00:10:00",
    "MinimumRounds": 3,
    "MaximumRounds": 5
  },
  "SelectedModule": "Endurance"
}